.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: #546e7a;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 1;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  color: #ff0000;
}

.nav-links button {
  cursor: pointer;
  border: 1px solid #292929;
  color: #546e7a;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  color: #546e7a;
  color: rgb(46, 36, 36);
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: #546e7a;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid white;
    color: #546e7a;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    color: #ff0000;
  }
}
