.card {
  padding: 13px 12px;
  height: 142px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.match-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 6px;
}

.team {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.36px;
  color: rgb(0, 18, 64);
  margin-top: auto;
}

.logo {
  width: 30px;
  height: 20px;
  margin-left: 10px;
}
.team-logo {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
