.schedule {
  width: 90%;
  height: 100vh;
  margin-right: 6%;
  margin-left: 4%;
  position: relative;
  background-color: white;
  z-index: 1;
}

.schedulebar {
  border: 1px solid rgb(230, 231, 236);
  border-radius: 5px;
  height: 60px;
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: white;
  margin-top: 2rem;
  z-index: 2;
}
.matches {
  width: 100%;
}
