.bar {
  display: flex;
  border: grey 1px;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}

.venue-wrapper {
  width: 90%;
  margin-left: 5%;
  margin-top: 5rem;
}
.createnew {
  color: blue;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.2px;
  cursor: pointer;
}
.createnew:hover {
  color: #ff0000;
}

.venue_card {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
